<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="title"></div>

    <div class="getlink-form">
      <div class="static">
        <span class="count-download"></span>
        <span class="limit-download"></span>
      </div>
      <div class="getlink-input">
        <input type="text" class="freepik-input-link" name="freepik_link" placeholder="Nhập link freepik vô đây">
        <button><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-right fa-w-14 fa-3x"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z" class=""></path></svg></button>
      </div>
      <div class="button-download">

      </div>
    </div>
    <div class="subtitle">
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
  </section>

  <script>
    var geting = false;

    // $(document).ready(function() {
    //   $.ajax({
    //       url: "/account",
    //       dataType: 'json'
    //     }).done(function(response) {
    //       if (response.code == 1) {
    //         $('.static .count-download').html('Count Download: ' + response.data.countDownloads)
    //         $('.static .limit-download').html('Limit Download: ' + response.data.limitDownloads)
    //       }
    //     });
    // })

    $('.getlink-input button').click(function() {
      var link = $('.getlink-input .freepik-input-link').val()
      $('.button-download').html('<span class="waiting-geting">ĐẠI CA CHỜ CHÚT</a>')
      if (link != '' && geting == false) {
        geting = true
        $.ajax({
          url: "/get-link",
          data: {
            url: link
          },
          dataType: 'json'
        }).done(function(response) {
            geting = false
          if (response.code == 1) {
            $('.button-download').html('<a target="_blank" href="' + response.data.url + '" class="link-download">LINK CỦA ĐẠI CA ĐÂY</a>')
            $('.static .count-download').html('Count Download: ' + response.data.todayDownloads)
            $('.static .limit-download').html('File: ' + response.data.filename)
          } else {
            $('.button-download').html('<span class="waiting-geting">' + response.message + '</a>')
          }
        });
      }
    })
  </script>
</body>
</html>
